<div class="mt-item mt-updated"><a href="http://twitter.com/{{from_user}}" target="_blank"><img src="{{profile_image_url}}" alt="{{from_user}}" class="profileimg" /></a>
		<h2>
		{{text}}
		</h2>
		<p></p>
		<div>
			<a href="http://twitter.com/{{from_user}}/status/{{id}}" target="_blank"><strong>{{from_user}}</strong></a>
			<a href="http://twitter.com/?status=%40{{from_user}}%20&in_reply_to_status_id={{id}}&in_reply_to={{from_user}}" title="Reply to {{from_user}}" target="_blank" class="re">Reply</a>
			<a href="http://twitter.com/?status={{retweet}}%20&in_reply_to_status_id={{id}}&in_reply_to={{from_user}}" title="ReTweet {{from_user}}'s tweet" target="_blank">RT</a>
			<span>{{cas}}</span>
		</div>	</div>
        		