<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Mechatweet Wall is here to watch topics for you and your pages" />
		<meta name="keywords" content="twitter, twitterwall, tweety, tweetwall, retweet" />
		<meta name="author" content="Martin Maly, http://www.mechatweet.com/" />
		<meta name="design" content="http://josefstepanek.cz/" />
		<meta name="robots" content="index, follow" />
		<meta name="language" content="en" />

		<link href="{{canonical}}" rel="canonical" />
		<link href="{{tpl_path}}css/style.css" rel="stylesheet" type="text/css" />
		<link href="{{tpl_path}}img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{tpl_path}}js/application.js"></script>
		
		<title>{{title}}</title>
	</head>

	
	<body>
	
	
	  <div class="mechatweet-wall"><div class="mt-padding">
	  
  		<div class="mt-head">
  			<a href="http://www.mechatweet.com/wall" title="" class="mt-logo">Mechatweet Wall</a>
  
  		  <p class="mt-summary">... &nbsp; Theme: {{theme}}: &nbsp;
          <strong id="mt-twitter">0</strong> retweets &nbsp;
          <strong id="mt-delicious">0</strong> Delicious links
        </p>
        
        <p class="mt-right">
          <span id="mt-loader"></span>  
    		  <a href="http://twitter.com/home/?status=RT+%40tweetmeme+Mechatweet+wall+http%3A%2F%2Fwww.mechatweet.com" title="Retweet">Retweet</a>&nbsp;&nbsp;
          <a href="http://delicious.com/post?url={{canonicalURL}}" title="Bookmark">Delicious</a>
  		  </p>
  		  
  		</div>
  		
  		<div class="mt-wall">
  		</div>
  		
  		<p class="mt-footer">
  			<span class="mt-right"><a href="http://www.mechatweet.com/wall" title="">Mechatweet Wall</a> is an open-source software under the <a href="http://www.opensource.org/licenses/bsd-license.php" title="">New BSD license</a></span>
  			Author <a href="http://maly.cz/">Martin Malý</a> &bull;
  			Design <a href="http://josefstepanek.cz/">Josef Štěpánek</a>
  		</p>
		

    </div></div>
		
	</body>
</html>

