        <div class="mt-item mt-updated">
          <a href="http://twitter.com/{{from_user}}" target="_blank"><img src="{{profile_image_url}}" alt="{{from_user}}" /></a>
    		  <p><strong>{{from_user}}</strong>
            {{text}}
          </p><p class="mt-action">
      			<a href="http://twitter.com/home?status=%40{{from_user}}" title="Reply to {{from_user}}" target="_blank" class="re">Reply</a>
      			<a href="http://twitter.com/home?status={{retweet}}" title="ReTweet {{from_user}}'s tweet" target="_blank">RT</a>
            <span>{{den}}, {{cas}}</span>
      		</p>
        </div>